<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Example test run">
    <test name="Simple Test">
        <classes>
            <class name="com.bcl.test.VerifyHome"/>
            <class name="com.bcl.test.VerifySignIn"/>
            <class name="com.bcl.test.VerifySignUp"/>
        </classes>
    </test>
</suite>
